body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    background-image: url('resources/black-background.jpg');
    background-size: 100%;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 50px auto 0 auto; /* Добавлен верхний отступ */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-image: url(resources/release_september.jpeg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 800px;
    position: relative;
}


h1 {
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    color:#A9A9A9
}

.social-section {
    position: absolute;
    bottom: 20px; /* Расстояние от низа контейнера */
    width: 100%; /* Ширина, чтобы элемент занимал всю ширину контейнера */
    text-align: center; /* Центрирование содержимого */
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.social-icon img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s, filter 0.3s;
}

.social-icon:hover img {
    transform: scale(1.1);
    filter: brightness(1.3);
}

#release {
    padding: 10px 0;
    /*            border-bottom: 1px solid #333;*/
}

#release h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2em;
    position: relative;
}

#release h2::after {
    content: '';
    width: 50px;
    height: 3px;
    background: #f39c12;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.release-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.release-cover {
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    transition: transform 0.3s, filter 0.3s;
}

.release-cover:hover {
    transform: scale(1.1); /* Увеличение обложки при наведении */
    filter: brightness(1.2); /* Подсветка обложки при наведении */
}


.streaming-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.stream-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #222;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    transition: transform 0.3s, background 0.3s;
    width: 150px;
    text-align: center;
}

.stream-button:hover {
    transform: scale(1.05);
    background: #333;
}

.stream-text {
    margin-bottom: 5px;
    font-size: 1em;
}

.stream-action {
    font-size: 1.1em;
    color: #f39c12;
}


.streaming-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: 250px;
    position: relative;
}

.streaming-item {
    display: flex;
    align-items: center;
    background: #222;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    transition: transform 0.3s, background 0.3s;
    width: 300px;
}

.streaming-item:hover {
    transform: scale(1.02);
    background: #333;
}

.streaming-icon {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.streaming-text {
    font-size: 1.1em;
}



/* Медиа-запросы для адаптации под мобильные устройства */
@media (max-width: 600px) {
    .header {
        height: 200px; /* Изменена высота для мобильных устройств */
    }
    .container {
        padding: 10px;
        margin: 10px;
    }
    .streaming-list {
        padding: 0;
        margin: 0;
    }
    .stream-item {
        width: 70%;
    }
}